body {
  overflow-x: scroll;
}

#panes {
  position: relative;
  width: 640px;
  height: 480px;
  display: inline-block;
}

#video {
  position: absolute;
  transform: rotateY(180deg);
}

#gl {
  position: absolute;
}

.hidden {
  display: none;
}
